GOOGLE_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=
PORT=4312

# Database configuration
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/financial_dashboard
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=financial_dashboard

